header {
    height: 50px;
}

nav{
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    position: fixed;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

nav p{
    font-family: 'comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 15px;
    left: 60px;
    margin: 0;
}

.logo {
    height: 40px;
    position: fixed;
    top: 5px;
    left: 10px;
}

li img{
    height: 13px;
    margin-right: 5px;
}


ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 17px;
}

ul a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 15px;
    font-family: 'comfortaa', sans-serif;
}

ul :hover {
    color: rgb(0, 0, 0);
    background-color: #bab9b914;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo a {
    font-family: 'comfortaa', sans-serif;
    color: #000000;
    font-weight: 550;
    background-color: #f1f9f4;
    border: #8ab99c solid 1px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo :hover {
    color: #364c35;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f9fb;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border:rgba(32, 32, 32, 0.165) 1px solid;
}

.card:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border:#2ecc71 1px solid;
}

.status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 10px;
}

.ativo {
    background: #dfffe3;
    color: #0a8f2f;
}

.manutencao {
    background: #ffe7b3;
    color: #a86c00;
}

.growth {
    color: #2ecc71;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #5fa278;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #406d51;
}