header {
    height: 50px;
}

nav{
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    position: fixed;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

nav p{
    font-family: 'comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 15px;
    left: 60px;
    margin: 0;
}

.logo {
    height: 40px;
    position: fixed;
    top: 5px;
    left: 10px;
}

li img{
    height: 13px;
    margin-right: 5px;
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 17px;
}

ul a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 15px;
    font-family: 'comfortaa', sans-serif;
}

ul :hover {
    color: rgb(0, 0, 0);
    background-color: #bab9b914;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo a {
    font-family: 'comfortaa', sans-serif;
    color: #000000;
    font-weight: 550;
    background-color: #f1f9f4;
    border: #8ab99c solid 1px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo :hover {
    color: #364c35;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}   
.titulo h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-left: 15px;
}

.titulo p{
    font-family: 'Paytone One', sans-serif;
    font-size: 11px;
    margin-top: -5px;
    color: rgb(56, 56, 56);
    margin-left: 15px;
}

.novo button {
    padding: 12px;
    border-radius: 12px;
    border: #d6d6d6 solid 1px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #caf5ce
}

.novo button:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    border: 1px solid rgb(200, 200, 200); 
    border-radius: 15px;
}

.topo{
    display: flex;
    width: auto;
}

.topo > div{
    flex: 1;
}

.produtos {
    margin: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(200, 200, 200); 
    border-top-left-radius: 15px;
    padding: 20px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escrita h4 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

.escrita h2 {
    font-family: 'Poppins', sans-serif;
    margin: 5px 0;
    font-size: 32px;
    font-weight: 700;
    color: #111;
}

.produtos-icone {
    background-color: #ecffe9c3;
    padding: 10px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.produtos-icone img {
    width: 40px;
}

.itens {
    margin: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-top-right-radius: 15px;
    padding: 20px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens-icone {
    background-color: #f8fed4c3;
    padding: 10px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.itens-icone img {
    width: 40px;
}

.ongs {
    margin: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-top-right-radius: 15px;
    padding: 20px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ongs-icone {
    background-color: #e9f0ffc3;
    padding: 10px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.ongs-icone img {
    width: 40px;
}

.produto-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.lista {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

thead{
    font-family: 'montserrat', sans-serif;
}

.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border: 2px solid #cfcfcf;
    border-radius: 12px;
    overflow: hidden;
}

.tabela-produtos th {
    background: #96de98;
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #222;
    font-weight: 600;
}

.tabela-produtos td {
    padding: 12px;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #e5e5e5;
}

.tabela-produtos tr:last-child td {
    border-bottom: none; 
}

.tabela-produtos tbody tr:hover {
    background: #f0f0f0;
    transition: 0.2s;
}

.lista {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.tabela-produtos {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    background: #fff;
    border: 1px solid #cfcfcf; 
    border-radius: 12px;
    overflow: hidden;
}

.tabela-produtos th {
    background: #ccdfcd;
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #222;
    font-weight: 600;
}

.tabela-produtos th:first-child {
    border-top-left-radius: 10px;
}

.tabela-produtos th:last-child {
    border-top-right-radius: 10px;
}

.tabela-produtos td {
    padding: 12px;
    font-size: 14px;
    color: #444;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'comfortaa', sans-serif;
}

.tabela-produtos tr:last-child td {
    border-bottom: none;
}

.tabela-produtos tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.tabela-produtos tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.tabela-produtos tbody tr:hover {
    background: #fafafa;
    transition: 0.2s;
}

.lista button{
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px;
}


.btn-editar{
    background-color: rgba(168, 228, 171, 0.29);
}

.btn-remover{
    background-color: rgba(246, 164, 164, 0.278);
}

.lista button:hover{
    background-color: #bababa67;
}

button img{
    width: 15px;
}