header {
    height: 50px;
}

nav{
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    position: fixed;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

nav p{
    font-family: 'comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 15px;
    left: 60px;
    margin: 0;
}

.logo {
    height: 40px;
    position: fixed;
    top: 5px;
    left: 10px;
}

li img{
    height: 13px;
    margin-right: 5px;
}

ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 17px;
}

ul a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 15px;
    font-family: 'comfortaa', sans-serif;
}

ul :hover {
    color: rgb(0, 0, 0);
    background-color: #bab9b914;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo a {
    font-family: 'comfortaa', sans-serif;
    color: #000000;
    font-weight: 550;
    background-color: #f1f9f4;
    border: #8ab99c solid 1px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-ativo :hover {
    color: #364c35;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 70px;
    padding-left: 15px;
} 

.titulo h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-left: 15px;
}

.titulo p{
    font-family: 'Paytone One', sans-serif;
    font-size: 11px;
    margin-top: -5px;
    color: rgb(56, 56, 56);
    margin-left: 15px;
}

.cabecalho button{
    display: flex;
    padding: 12px;
    border-radius: 12px;
    border: #d6d6d6 solid 1px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #caf5ce00;
    align-items: center;  
}

.cabecalho button img{
    width: 15px;
    margin-right: 5px;
}

.cabecalho button:hover{
    background-color: #efefef4b;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: #ffffff;
    border: 1px solid rgba(32, 32, 32, 0.12);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.25s ease-in-out;
}

.card:hover {
    border-color: #2ecc71;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.icon {
    background-color: #ecffe9c3;
    padding: 10px;
    border-radius: 12px;
    padding-bottom: 5px;
}

.icon img {
    width: 40px;
}

.title {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.verified {
    color: #2ecc71;
    font-size: 10px;
    background-color: #ecffe9c3;
    width: 90px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    font-family: 'comfortaa', sans-serif;
    margin-bottom: 10px;
}

.verified-not {
    color: #cc2e2e;
    font-size: 10px;
    background-color: #ffe9e9c3;
    width: 100px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    font-family: 'comfortaa', sans-serif;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 50px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.tag-combate {
    background: #e0ffe0;
    color: #2ecc71;
    width: 110px;
}

.tag-moradia {
    background: #fff1d6;
    color: #b57a00;
}

.tag-educacao {
    background: #e7f1ff;
    color: #2d66ce;
    width: 60px;
}

.tag-saude {
    background: #ffe0e3;
    color: #d93434;
}

.tag-animal {
    background: #ffeede;
    color: #cc6b10;
    width: 110px;
}

.tag-ambiente {
    background: #e0fff3;
    color: #23b87a;
    width: 110px;
}

.card-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    color: #444;
    font-family: 'comfortaa', sans-serif;
    font-size: 13px;
}

.card-stats strong {
    color: #222;
}

.card-growth {
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    color: #2ecc71;
}


.doar-btn {
    width: 100%;
    padding: 12px 0;
    background: #2ecc71;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    margin-bottom: 5px;  
}

.doar-btn:hover {
    background: #25b764;
}
